-e .

black
boto3
coverage
cytoolz
flake8
ipdb
ipython
jinja2
nltk
pandas
psycopg2-binary
pylint
pyspark>=2.4.0
pytest
pytest-cov
python-dateutil
python-dotenv
pytz>=2019.2
PyYAML
spacy
structlog
tox
twine
Unidecode>=1.1.1
wheel